/* 
* {
    padding-left: 20px;
} */

h2 {
    color: white;
    margin-bottom: 25px;
}

#contenedorConsulta {
    background-color: #2A2E32;
    padding: 0.8% 0 2% 3%;
    display: flex;
    flex-direction: column;
}

#campoBuscar {
    color: white;
    background-color: #2A2E32;
    border: 1.5px solid #54575a;
    border-radius: 10px;
    width: 17rem;
    outline: none;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 15px;
}