.EditarVentas {
  background-color: #191c1f;
  padding-left: 5.8%;
  padding-bottom: 1%;
}

#titulo-actualizar-venta {
  color: #e2be4c;
  font-size: 22.4px;
  font-weight: bold;
  padding-top: 2rem;
}
