.edit-vent-prod-cont {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 6%;
  margin-right: 7%;
  background-color: #2a2e32;
  color: azure;
  padding: 0.5% 1%;
}
