
section {
    display: flex;
}

#tituloHeader {
  color: white;
}

header {
    background-image: url('../assets/img/fondo-nuevo.jpg');
    width: 100vw;
    height: 50vh;
    color: white;
    /* text-align: center; */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(20, 22, 24, 0.712);
  }
  
header img {
    position: relative;
    width: 40vh;
    height: 40vh;
    top: 25vh;
  }

.contenido {
    position: absolute;
    padding-top: 7.5%;
    padding-left: 5.8%;
}

#boton-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    border-radius: 21px;
    border: none;
    margin-top: 30px;
    font-weight: bold;
    height: 40px;
    font-size: 18px;
    outline: none;
    color: #1A1E20;
    background-color: #dab74a;
  }

#boton-header:hover {
    cursor: pointer;
    background-color: #caa840;
  }
  
