section {
  display: flex;
}

section {
  display: flex;
}

header {
  background-image: url("../assets/img/fondo-cabecera.jpeg");
  width: 100vw;
  height: 360px;
  color: white;
  /* text-align: center; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 4%;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(20, 22, 24, 0.712);
}

header img {
  position: relative;
  width: 40vh;
  height: 40vh;
  top: 25vh;
}

#contenido-header {
  position: absolute;
  padding-top: 7.5rem;
  padding-left: 5.8%;
}

.boton-generico-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  border: none;
  padding: 20px;
  /*margin-top: 30px;*/
  font-weight: bold;
  height: 40px;
  font-size: 18px;
  outline: none;
  color: #1a1e20;
  background-color: #dab74a;
}

.boton-generico-header:hover {
  cursor: pointer;
  background-color: #caa840;
}

.boton-generico-header:focus {
  background-color: #caa840;
}

.boton-generico-cancelar {
  background-color: #2a2e32;
  color: white;
  padding: 15px 20px 0 20px;
  border-radius: 21px;
  border: none;
}
