.listadoventas-container {
  color: azure;
  padding-bottom: 15%;
  font-size: 14px;
  margin-left: 5.8%;
  margin-right: 5.8%;
}

.listadoventas-container #tituloTablaVentas {
  color: #dab74a;
  margin-top: 1rem;
  font-size: 22.4px;
}

#tabla-ventas-registradas,
#tabla-ventas-registradas td,
#tabla-ventas-registradas th {
  border-color: #191c1f;
}
