.listadoventas-container {
  background-color: #1A1E20;
  color: azure;
  padding-bottom: 15%;
  font-size: 14px;
}


.listadoventas-container h2 {
  color: #DAB74A;
  margin-top: 0;
  font-size: 1.6em;
  margin-left: 6%;
  margin-bottom: 5vh;
}

#column-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #25272A;
  font-weight: bold;
  padding: 15px 30px;
  width: 85%;
  margin-right: 0;
  margin-left: 6%;
  margin-top: 1vh;
  margin-bottom: 0;
  list-style: none;
  font-size: large;
}

#column-titles li{
  margin-left: 6%;
}

#li1 {
  width: 15%;
}

#li2 {
  width: 15%;
}

#li3 {
  width: 15%;
}

#li4 {
  width: 40%;
}

#li5 {
  width: 15%;
}