#tituloListadoUsuarios {
  color: #e2be4c;
  margin-left: 0;
  /* margin-top: 2rem; */
  font-size: 22.4px;
}

#contenedorListadoUsuarios {
  display: flex;
  flex-direction: column;
  padding-left: 5.8%;
  padding-right: 3%;
  padding-top: 2rem;
  background-color: #191c1f;
}

#tablaConsUsuarios {
  margin-left: 5.8%;
  margin-right: 5.8%;
  margin-top: 2rem;
  color: white;
}

#volver {
  display: block;
  margin-top: 12px;
  margin-bottom: 90px;
  text-align: end;
  text-decoration: underline;
  color: #e2be4c;
  font-size: 15px;
  font-weight: bold;
}

#volver:hover {
  cursor: pointer;
  color: #caa840;
}

#tabla-usuarios-registrados,
#tabla-usuarios-registrados td,
#tabla-usuarios-registrados th {
  border-color: #191c1f;
}

#tabla-consulta-usuarios,
#tabla-consulta-usuarios td,
#tabla-consulta-usuarios th {
  border-color: #191c1f;
}

/* @media screen and (max-width: 740px) {
  table {
    display: block;
    overflow-x: auto;
  }
} */
