#tituloListadoUsuarios {
  color: #e2be4c;
  margin-left: 0;
  /* margin-top: 2rem; */
  font-size: 22.4px;
}

#contenedorListadoUsuarios {
  display: flex;
  flex-direction: column;
  padding-left: 5.8%;
  padding-right: 3%;
  padding-top: 2rem;
  background-color: #191c1f;
}

#tablaUsuarios {
  /* margin-left: 5.8%; */
  /* margin-top: 2rem; */
  color: white;
  width: 95%;
}

#tablaUsuarios > table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

#tablaConsUsuarios {
  margin-left: 5.8%;
  margin-top: 2rem;
  color: white;
  width: 90%;
}

#tablaConsUsuarios > table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  /* padding: 14px; */
  padding-left: 70px;
  height: 41.5px;
}

th {
  background-color: #212529;
  height: 41.5px;
}

td {
  background-color: #2a2e32;
  border-bottom: solid 0.1px #191c1f;
}

thead {
  border-bottom: solid 0.2rem #1a1e20;
  height: 41.5px;
}

td > img:hover {
  cursor: pointer;
}

tr:hover td {
  background-color: #2a2e32d5;
}

#volver {
  display: block;
  margin-top: 12px;
  margin-bottom: 90px;
  text-align: end;
  text-decoration: underline;
  color: #e2be4c;
  font-size: 15px;
  font-weight: bold;
}

#volver:hover {
  cursor: pointer;
  color: #caa840;
}

@media screen and (max-width: 740px) {
  table {
    display: block;
    overflow-x: auto;
  }
}
