#tituloListadoUsuarios {
  color: #e2be4c;
  margin-left: 0;
}

#contenedorListadoUsuarios {
  display: flex;
  flex-direction: column;
  padding-left: 5.8%;
  padding-right: 3%;
  padding-top: 1%;
  background-color: #191c1f;
}

#tablaUsuarios {
  color: white;
  width: 95%;
}

#tablaUsuarios > table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 14px;
  padding-left: 70px;
}

th {
  background-color: #25272a;
}

td {
  background-color: #2a2e32;
  border-bottom: solid 3px #1a1e20;
}

thead {
  border-bottom: solid 3px #1a1e20;
}

td > img:hover {
  cursor: pointer;
}

tr:hover td {
  background-color: #2a2e32d5;
}

#volver {
  display: block;
  margin-top: 12px;
  margin-bottom: 90px;
  text-align: end;
  text-decoration: underline;
  color: #e2be4c;
  font-size: 15px;
  font-weight: bold;
}

#volver:hover {
  cursor: pointer;
  color: #caa840;
}

/* @media screen and (max-width: 740px) {
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr th:first-child {
        background: #1A1E20;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
} */

@media screen and (max-width: 740px) {
  table {
    display: block;
    overflow-x: auto;
  }
}
