nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 5px 0px;
  font-size: 1.05em;
}

nav {
  float: right;
  position: absolute;
  background-color: #1a1e20;
  color: azure;
  height: max-content;
  background-color: rgba(20, 22, 24, 0.623);
  z-index: 1;
}

nav li:hover {
  color: #dab74a;
  cursor: pointer;
}

nav img {
  width: 6%;
  height: 6%;
  cursor: pointer;
}
