#reg-usr-container {
  background-color: #1a1e20;
}

.lbl-reg-usr {
  color: azure;
  font-size: 16px;
  font-weight: 450;
  width: 30%;
  padding-bottom: 4%;
}

#reg-usr-container h3 {
  color: #dab74a;
  font-size: 24px;
  padding-left: 6%;
  padding-top: 2%;
  padding-bottom: 3%;
  margin: 0;
}

.form-reg-usrs {
  display: flex;
  justify-content: space-between;
  margin: 0 6%;
}

#bottom-btns-container {
  padding-bottom: 4%;
  margin: 0 10%;
  display: flex;
  justify-content: center;
}

#bottom-btns-container button {
  border-radius: 20px;
  font-weight: bold;
  border: 0;
  font-size: 18px;
}

#btn-registrar {
  border: solid 1px #1a1e20;
  background-color: #dab74a;
  padding: 1% 4.5em;
  margin-right: 4%;
}

#btn-registrar:hover {
  opacity: 80%;
}

#btn-limpiar {
  border: solid 3px #1a1e20;
  background-color: #2a2e32;
  color: azure;
  padding: 1% 6.5em;
  margin-left: 4%;
}

#btn-limpiar:hover {
  opacity: 80%;
}

.text-field {
  background-color: transparent;
  border: solid 3px #2a2e32;
  border-radius: 8px;
  font-size: 14px;
  padding: 3% 0;
  padding-left: 3%;
  margin-top: 3%;
  width: 85%;
  color: azure;
}

#selector-rol {
  background-color: transparent;
  border: solid 3px #2a2e32;
  border-radius: 8px;
  font-size: 14px;
  padding: 3% 0;
  padding-left: 3%;
  color: azure;
  text-align: center;
  width: 100%;
}

#selector-rol:focus-within {
  background-color: #1a1e20;
  border: solid 3px #2a2e32;
  font-size: 14px;
  padding: 3% 0;
  padding-left: 3%;
  color: azure;
  text-align: center;
  font-weight: bold;
}

.form-reg-usrs p {
  margin: 3% 0 0 0;
  text-align: center;
  background-color: #2a2e32 !important;
}
