
h2 {
    color: #e2be4c;
}

#contenedor {
    background-color: #191c1f;
    padding: 0.8% 0 0 5.8%;
    display: flex;
    flex-direction: column;
}

.columna {
    display: flex;
}

.campoLabel {
    display: flex;
    flex-direction: column;
}

.campoGenerico {
    color: white;
    background-color: #191c1f;
    border: 1.5px solid #54575a;
    border-radius: 10px;
    width: 17rem;
    outline: none;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 2rem;
    text-align: center;
}

.campoDesactivado {
    background-color: #303436;
    border: none;
}

.selector {
    height: 45px;
}

.campoLargo {
    width: 38rem;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.boton-generico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    border-radius: 21px;
    border: none;
    margin-top: 30px;
    /* font-weight: bold; */
    height: 45px;
    font-size: 16px;
    outline: none;
    color: white;
    background-color: #303436;
  }

  .boton-generico:hover {
    cursor: pointer;
    background-color: #2f3335;
  }

  #contenedorListadoProductos {
    display: flex;
    flex-direction: column;
    padding-right: 3%;
    padding-top: 2%;
    background-color: #191c1f;
}

#tablaProductos {
    color: white;
    width: 95%;  
}

#tablaProductos > table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 14px;
    padding-left: 70px;
}

th {
    background-color: #25272A;
}

td {
    background-color: #2A2E32;
    border-bottom: solid 3px #1A1E20;
}

thead {
    border-bottom: solid 3px #1A1E20;
}

td > img:hover {
    cursor: pointer;
}

tr:hover td {
    background-color: #2a2e32d5;
}

#volver {
    display: block;
    margin-top: 12px;
    margin-bottom: 90px;
    text-align: end;
    text-decoration: underline;
    color: #e2be4c;
    font-size: 15px;
    font-weight: bold;
}

#volver:hover {
    cursor: pointer;
    color: #caa840;
}

@media screen and (max-width: 740px) {
    table {
        display: block;
        overflow-x: auto;
      }
}