.res-cons-cont {
  background-color: #191c1f;
  color: azure;
  margin-top: 1rem;
  margin-left: 5.8%;
  margin-right: 5.8%;
}

#tabla-consultar-venta,
#tabla-consultar-venta td,
#tabla-consultar-venta th {
  border-color: #191c1f;
}
