.Consultarventas{
    background-color: #2a2e32;
    padding: 10px 5px;

}

#texto-conteiner{
    display:none;
}

#calendario{
    display:flex;
    margin: 4px;
    padding: 4px 16px
}

#titulo{
    margin-left: 20px; 
}

#FiltrarPor{
    display:inline-block;
    margin: 12px 78px 0px 0px;
    font-weight: 400;
    color:azure;
}

#Buscar{
    display:inline-block;
    margin: 12px 20px 0px 180px;
    font-weight: 400;
    color:azure;
}

#calendario2{
    display: flex;
    margin: 2px;
    padding: 8px 16px
}

#IngreseDatos{
    display:inline-block;
    border-radius: 15px;
    padding: 12px 18px;
    font-size: 16px;
    background-color: #222a2e32;
    border: 1px solid #d6d8d4;
    justify-content: center;
    color: #d6d8d4;
    margin-top: 15px;
    margin-right: 30px;
    margin-left: 50px;
}

#IngreseDatos:focus{
    outline:none;
}

#Selector{
    display: inline-block;
    background-color: #222a2e32;
    border-radius: 15px;
    border:1px solid #d6d8d4;
    font-size: 16px;
    padding: 12px 18px;
    color: #d6d8d4;
    margin-top: 15px;


}

#Selector:focus{
    outline:none;
}

#identificador{
    background-color: #222a2e32;
    color:#000;
}

#nombreUsuario{
    background-color: #222a2e32;
    color:#000; 
}

#ID{
    background-color: #222a2e32;
    color:#000; 
}